IntrasysPOS/xml-resources/web-service-references/ManagePOSBean/wsdl/LAPTOP-COP395BV_8080/ManagePOSBeanService/ManagePOSBean.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://StoreManagementSystem/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://StoreManagementSystem/" name="ManagePOSBeanService">
<types>
<xsd:schema>
<xsd:import namespace="http://StoreManagementSystem/" schemaLocation="http://LAPTOP-COP395BV:8080/ManagePOSBeanService/ManagePOSBean?xsd=1"/>
</xsd:schema>
</types>
<message name="checkBulkDiscountAmount">
<part name="parameters" element="tns:checkBulkDiscountAmount"/>
</message>
<message name="checkBulkDiscountAmountResponse">
<part name="parameters" element="tns:checkBulkDiscountAmountResponse"/>
</message>
<message name="overallMembershipDiscount">
<part name="parameters" element="tns:overallMembershipDiscount"/>
</message>
<message name="overallMembershipDiscountResponse">
<part name="parameters" element="tns:overallMembershipDiscountResponse"/>
</message>
<message name="checkItemAItemBDiscount">
<part name="parameters" element="tns:checkItemAItemBDiscount"/>
</message>
<message name="checkItemAItemBDiscountResponse">
<part name="parameters" element="tns:checkItemAItemBDiscountResponse"/>
</message>
<message name="getItemDetails">
<part name="parameters" element="tns:getItemDetails"/>
</message>
<message name="getItemDetailsResponse">
<part name="parameters" element="tns:getItemDetailsResponse"/>
</message>
<message name="cartHasPromoItem">
<part name="parameters" element="tns:cartHasPromoItem"/>
</message>
<message name="cartHasPromoItemResponse">
<part name="parameters" element="tns:cartHasPromoItemResponse"/>
</message>
<message name="saveTransaction">
<part name="parameters" element="tns:saveTransaction"/>
</message>
<message name="saveTransactionResponse">
<part name="parameters" element="tns:saveTransactionResponse"/>
</message>
<message name="setPaymentDetails">
<part name="parameters" element="tns:setPaymentDetails"/>
</message>
<message name="setPaymentDetailsResponse">
<part name="parameters" element="tns:setPaymentDetailsResponse"/>
</message>
<portType name="ManagePOSBean">
<operation name="checkBulkDiscountAmount">
<input wsam:Action="http://StoreManagementSystem/ManagePOSBean/checkBulkDiscountAmountRequest" message="tns:checkBulkDiscountAmount"/>
<output wsam:Action="http://StoreManagementSystem/ManagePOSBean/checkBulkDiscountAmountResponse" message="tns:checkBulkDiscountAmountResponse"/>
</operation>
<operation name="overallMembershipDiscount">
<input wsam:Action="http://StoreManagementSystem/ManagePOSBean/overallMembershipDiscountRequest" message="tns:overallMembershipDiscount"/>
<output wsam:Action="http://StoreManagementSystem/ManagePOSBean/overallMembershipDiscountResponse" message="tns:overallMembershipDiscountResponse"/>
</operation>
<operation name="checkItemAItemBDiscount">
<input wsam:Action="http://StoreManagementSystem/ManagePOSBean/checkItemAItemBDiscountRequest" message="tns:checkItemAItemBDiscount"/>
<output wsam:Action="http://StoreManagementSystem/ManagePOSBean/checkItemAItemBDiscountResponse" message="tns:checkItemAItemBDiscountResponse"/>
</operation>
<operation name="getItemDetails">
<input wsam:Action="http://StoreManagementSystem/ManagePOSBean/getItemDetailsRequest" message="tns:getItemDetails"/>
<output wsam:Action="http://StoreManagementSystem/ManagePOSBean/getItemDetailsResponse" message="tns:getItemDetailsResponse"/>
</operation>
<operation name="cartHasPromoItem">
<input wsam:Action="http://StoreManagementSystem/ManagePOSBean/cartHasPromoItemRequest" message="tns:cartHasPromoItem"/>
<output wsam:Action="http://StoreManagementSystem/ManagePOSBean/cartHasPromoItemResponse" message="tns:cartHasPromoItemResponse"/>
</operation>
<operation name="saveTransaction">
<input wsam:Action="http://StoreManagementSystem/ManagePOSBean/saveTransactionRequest" message="tns:saveTransaction"/>
<output wsam:Action="http://StoreManagementSystem/ManagePOSBean/saveTransactionResponse" message="tns:saveTransactionResponse"/>
</operation>
<operation name="setPaymentDetails">
<input wsam:Action="http://StoreManagementSystem/ManagePOSBean/setPaymentDetailsRequest" message="tns:setPaymentDetails"/>
<output wsam:Action="http://StoreManagementSystem/ManagePOSBean/setPaymentDetailsResponse" message="tns:setPaymentDetailsResponse"/>
</operation>
</portType>
<binding name="ManagePOSBeanPortBinding" type="tns:ManagePOSBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="checkBulkDiscountAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="overallMembershipDiscount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkItemAItemBDiscount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getItemDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cartHasPromoItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPaymentDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ManagePOSBeanService">
<port name="ManagePOSBeanPort" binding="tns:ManagePOSBeanPortBinding">
<soap:address location="http://LAPTOP-COP395BV:8080/ManagePOSBeanService/ManagePOSBean"/>
</port>
</service>
</definitions>